* {
  margin: 1;
  padding: 1;
}

header .header {
  font-style: sans-serif;
  text-align: center;
}

header .role-section {
  font-style: sans-serif;
  text-align: center;
}
body {
  background-color: #e4a723;
}
section {
  font-family: "Red Rose", cursive;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: flex;
  cursor: pointer;
  position: relative;
  margin: -20 -50px;
  left: 45%;
  bottom: 100%;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn:hover {
  background-color: #5cbf2a;
}

.btn:active {
  position: relative;
  top: 1px;
}
